body {
  overflow-x: hidden;
  color: #f2f2f2;
  background-color: #090909;
}
body::-webkit-scrollbar {
  display: none;
}

/* fonts */
@font-face {
  font-family: "ngp-55";
  src: url("./fonts/NeueHaasDisplayRoman.ttf") format("opentype");
}
@font-face {
  font-family: "ngp-65";
  src: url("./fonts/NeueHaasDisplayMediu.ttf") format("opentype");
}
@font-face {
  font-family: "ngp-75";
  src: url("./fonts/NeueHaasDisplayBold.ttf") format("opentype");
}

/* scrollbar */

/* lists */
.HeroContainer {
  height: 100vh;
}

/* hero */
.headingText {
  font-size: 8vw;
  line-height: 0;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.DetailsSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.OverViewHeader {
  font-size: 5vw;
  font-weight: bold;
  width: 10em;
}
.OverViewSubHeader {
  font-size: 1.2vw;
  line-height: 2;
  color: grey;
}
.finalSectionContainer {
  height: 100vh;
  color: #f3f3f3;
}
.infoHeader {
  font-size: 5vw;
  font-weight: bold;
  width: 10em;
}
.InfoSection {
}
.InfoSection li {
  font-size: 1.2vw;
  line-height: 2;
  color: grey;
}
.heroText {
  font-size: 1.2vw;
  line-height: 0;
  font-weight: bold;
  text-align: center;
  margin-top: 10em;
  color: grey;
}
.finalSectionContainer {
  line-height: 2;
}
.keepExploring {
  font-size: 5vw;
  line-height: 0;
  font-weight: bold;
}

.App {
  padding-left: 1em;
  font-family: "ngp-65";
}
.price {
  font-size: 3em;
  font-weight: bold;
}
.subPrice {
  font-size: 2em;
  color: grey;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  font-family: "ngp-55";
  padding-right: 2em;
}
